/* Clases globales */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.flex-wrap {
    flex-wrap: wrap;
}
.overflow-hidden {
    overflow: hidden;
}
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.list-style-none {
    list-style: none;
}
.text-decoration-none {
    text-decoration: none;
}
/*Tipografia*/
.poppins {
    /* Fonts o tipografia de los titulos */
    font-family: 'Poppins', sans-serif;
}
.open-sans {
    /* Fonts o tipografia de los textos */
    font-family: 'Open Sans', sans-serif;
}
/*Padding Start*/
.ps-1 {
    padding-left: 0.25rem !important;
}
.ps-2 {
    padding-left: 0.5rem !important;
}
.ps-3 {
    padding-left: 1rem !important;
}
.ps-4 {
    padding-left: 1.5rem !important;
}
.ps-5 {
    padding-left: 3rem !important;
}

/*Padding End*/
.pe-1 {
    padding-right: 0.25rem !important;
}
.pe-2 {
    padding-right: 0.5rem !important;
}
.pe-3 {
    padding-right: 1rem !important;
}
.pe-4 {
    padding-right: 1.5rem !important;
}
.pe-5 {
    padding-right: 3rem !important;
}
/*Padding Top*/
.pt-1 {
    padding-top: 0.25rem !important;
}
.pt-2 {
    padding-top: 0.5rem !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
/*Padding Bottom*/
.pb-1 {
    padding-bottom: 0.25rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
/*margin*/
.m-auto {
    margin: auto;
}
/* Posicionamiento Texto */
.text-start {
    text-align: left;
}
.text-end {
    text-align: right;
}
.text-center {
    text-align: center;
}
/*Color*/
.text-light {
    color: rgba(248, 249, 250, 1);
}
.text-dark {
    color: rgba(23, 37, 41, 1);
}
.text-danger {
    color: rgba(220, 53, 69, 1);
}
.text-warning {
    color: rgba(255, 193, 7, 1);
}
/* Background o Color de fondo */
.bg-dark {
    opacity: 1;
    background-color: rgba(33, 37, 41, 1) !important;
}
.bg-light {
    opacity: 1;
    background-color: rgba(248, 249, 250, 1) !important;
}
.bg-body {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1) !important;
}
.bg-black {
    opacity: 1;
    background-color: rgba(0, 0, 0, 1) !important;
}
/*Botones*/
.btn {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #000;
}
/* Imagenes*/
/* width o ancho */
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.w-330 {
    width: 330px;
}
.w-400px {
    width: 400px;
}
/* height o alto */
.h-220px {
    height: 220px;
}
/*header o cabecera */

/* Barra de navegacion */ 
.bd-navbar {
    padding: 0.75rem;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Brand o Logo */
.navbar-brand {
    text-decoration: none;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
}
.nav-link {
    text-decoration: none;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
/* Menu Activo*/
.nav-link.active {
    font-weight: 600;
    color: #fff;
}


/* Index */ 
.card {
    width: 330px;
    height: 430px;
    border-radius: 7px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    margin: 20px;
    transition: all 0.25s;
}


